<div class="w-50 container mt-5">
    <h1>Passing the date</h1>
    <form [formGroup]="dateRangeForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput type="number" formControlName="age">
      </mat-form-field>
  
      <button type="submit" class="btn border text-white bg-info">Save</button>
    </form>
  </div>

<div class="container mt-5">
    hai
    
</div>
  