<!-- my-component.component.html -->

<div class="container-fluid">
    <div class="container text-center">
      <h6>Image Component</h6>
      <h1>Sample Angular Component</h1>
      <p>Assets only support for the image</p>
    </div>
    
    <div class="container  mt-4">
    <!-- <div class="container d-flex justify-content-center mt-4"> -->
        <div class="row">
                 <div class="col-md-4">
                    <h5 class="text-center">Image Card</h5>
                    <div class="card-container">
                        <div class="card">
                          <div class="card-front">
                            <!-- Front face content -->
                            <img src="../../assets/image/downloadq.jpg" alt="Static Image" class="card-img-top">
                            <div class="card-body">
                              <h5 class="card-title">Card Title</h5>
                              <p class="card-text">This is a static image displayed in the card.</p>
                            </div>
                          </div>
                          <div class="card-back rounded">
                            <!-- Back face content -->
                            <h5 class="card-title">Back Side Title</h5>
                            <p class="card-text">Content for the back side of the card.</p>
                          </div>
                        </div>
                      </div>
                      
       
        </div>
        <div class="col-md-4">
            <app-calculator></app-calculator>
          </div>
          <div class="col-md-4">
            <app-stopwatch></app-stopwatch>
          </div>
 
        
      </div>
    </div>
  </div>
  

  
  