<div class="container mt-4">
  <div class="row">
    <div class="col-md-4" *ngFor="let user of users">
      <div class="card-container">
        <div class="card mb-4">
          <div class="card-face card-front">
            <div class="card-body">
              <h5 class="card-title">{{ user.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ user.username }}</h6>
              <p class="card-text">{{ user.email }}</p>
              <p class="card-text">{{ user.phone }}</p>
              <p class="card-text">{{ user.website }}</p>
              <p class="card-text"><strong>Address:</strong> {{ user.address.street }}, {{ user.address.city }}</p>
              <p class="card-text"><strong>Company:</strong> {{ user.company.name }}</p>
              <button class="btn bg-info text-white" (click)="funccall()">Submit</button>
            </div>
          </div>
          <!-- <div class="card-face card-back">
            <div class="card-body">
              <h5 class="card-title">Back Side</h5>
              <p class="card-text">This is the back side of the card.</p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>


<!-- src/app/featch-dta/featch-dta.component.html -->
<div class="container mt-4">
  <h2>Albums</h2>
  <div class="row">
    <div class="col-md-4 mb-3 " *ngFor="let album of albums | paginate: { itemsPerPage: 10, currentPage: page }">
      <div class="card bg-info mb-4 ">
        <div class="card-body">
          <p class="card-title"><span class="text-danger"><h4 class="bg-info">Title:</h4></span>{{ album.title.length > 20 ? album.title.substring(0, 20) + '...' : album.title }}</p>

          <p class="card-text">Album ID: {{ album.id }}</p>
          <p class="card-text">User ID: {{ album.userId }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
</div>


