.card {
    background-color: #17a2b8; /* Default background color */
    color: #fff; /* Default text color */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    background-color: #7ae0ff; /* Darker background color on hover */
    box-shadow: 0 0 20px #000000; /* Glowing effect */
  }

/* src/app/pagination/pagination.component.css */
/* .pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #007bff;
  color: #007bff;
  text-decoration: none;
}

.pagination li a:hover {
  background-color: #007bff;
  color: white;
}

.pagination li.active a {
  background-color: #007bff;
  color: white;
}

.pagination li.disabled a {
  color: #d6d6d6;
  cursor: not-allowed;
} */

/* src/app/pagination/pagination.component.css */
.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  display: block;
  padding: 10px 15px;
  border: 1px solid #007bff;
  color: #007bff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination li a:hover {
  background-color: #007bff;
  color: white;
}

.pagination li.active a {
  background-color: #007bff;
  color: white;
}

.pagination li.disabled a {
  color: #d6d6d6;
  cursor: not-allowed;
  pointer-events: none;
}

.pagination li.disabled a:hover {
  background-color: transparent;
  color: #d6d6d6;
}

  